<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Failed to launch !</title>
</head>

<body bgcolor="#132fa9">
<div style="font-family: monospace; font-size: 14px; color: #ffffff;">
    <table cellspacing="0" cellpadding="0" border="0" width="100%">
        <tr>
            <td bgcolor="#132fa9" align="center">
                <table width="650px" cellspacing="0" cellpadding="3" class="container">
                    <tr>
                        <td align="center">
                            <img style="margin: 30px;" src="https://console.rioos.xyz/images/logo1.png">
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            <h3 style="font-size: 28px; font-weight: normal; color: #ffffff;">Hey <b>{{email}}</b></h3>
                            <table width="500px" cellspacing="0" cellpadding="3" >
                                <tr style=" background-color: #fff; font-family: monospace;color: black;">
                                    <td align="center" width="30%">
					<img src="https://console.rioos.xyz/images/running_digicloud.png"></td>
                                    <td align="left" style="padding: 30px;" >
                                        <h2 style="margin: 30px 0px;"> Failed </h2>
                                        <p>Unable to launch {{category}} <a href="">{{appname}}</a></p></br></br>
                                        <p style="color:red"> {{if alert_message}} Reason : {{alert_message}} {{end}} </p></br></br>

 <p> Refer the
                                                            <a href="https://bit.ly/rioos_sh_usersguide" target="_blank">users guide</a> to troubleshoot </p>
                                      </td>
                                </tr>
                            </table >
                            <table width="500px" cellspacing="0" cellpadding="3" style=" background-color: #fff;" >
                                <tr>
                                <td><hr></td>
                                </tr>
                                <tr>
                                    <td align="center" style="padding: 45px;">
                                        <a href="https://console.rioos.xyz"><img src="https://console.rioos.xyz/images/logo2.png"></a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr align="center">
                        <td  width="28px" style="padding: 30px;">
                          <a href="https://www.gitlab.com/rioos"><img src="https://console.rioos.xyz/images/gitlab.png"></a>
                          <a href="https://github.com/rioadvancement"><img src="https://console.rioos.xyz/images/github.png"></a>
                        </td>
                    </tr>
                    <tr align="center">
                        <td style="padding: 30px;">
                            <p>© Rio Advancement Inc. 2018 All rights reserved.</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
</body>

</html>
